* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
  }
.container{
    display: flex;
    flex-direction: column;
}
.calculator__key {
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  .zero{
    width: 10rem;
  }